header {
  padding: 0 10rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  margin: 10px 0;
  border-radius: 50px;
  background-color: var(--cor-c3);
  font-family: var(--font-primaria);
}

.logo-img {
  height: 60px;
  padding-left: 2rem;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding-right: 2rem;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: var(--cor-p4);
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links li a:hover {
  color: var(--cor-p2);
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--cor-p4);
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}