.main-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
  padding: 2rem;
}

.main-conteudo h1 {
  font-size: 5rem;
  color: var(--cor-c1);
  margin-bottom: 30px;
  line-height: 1.2;
  font-weight: 700;
}

.main-conteudo h1 span {
  color: var(--cor-p4);
  font-weight: 700;
}

.main-conteudo p {
  font-size: 1.5rem;
  color: var(--cor-c6);
  margin: 10px 0;
  max-width: 900px;
  line-height: 1.6;
}

.main-conteudo p:first-of-type {
  font-size: 2rem;
  color: var(--cor-c5);
  margin-top: 20px;
  margin-bottom: 15px;
}