.section-quemsomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 10rem;
  gap: 80px;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.section-quemsomos h2 {
  font-size: 2rem;
  color: var(--cor-p3);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.section-quemsomos div p {
  font-size: 1.5rem;
  text-align: center;
  color: var(--cor-p4);
  line-height: 1.6;
  margin-bottom: 20px;
}